{% extends "base.html" %}

{% block content %}
<div class="container my-5">
    <h1 class="text-center mb-4">Our Cakes</h1>
    {% for cake in cakes %}
        <div class="cake-item mb-4">
            <h2>{{ cake.name }}</h2>
            <p>{{ cake.description }}</p>
            <p>Category: {{ cake.category }}</p>
            <p>Price: €{{ cake.price }}</p>
            <img src="{{ cake.image.url }}" alt="{{ cake.name }}" style="max-width: 100%; height: auto;">
            <a href="{% url 'order_create' %}" class="btn btn-primary mt-2">Order</a>
        </div>
    {% endfor %}
</div>
{% endblock %}
